<phpunit bootstrap="tests/bootstrap.php"
         cacheResult="false"
         convertDeprecationsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>